{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="main container">
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					<h2>Nuevo Personal</h2>
				</div>
				{{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'role' : 'form'}}) }}
					<div class="form-group">
						{{ form_label(form.username) }}
						{{ form_widget(form.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tu usuario'}})}}
						<span class="text-danger">{{ form_errors(form.username) }}</span>
					</div>
					<div class="form-group">
						{{ form_label(form.nombre) }}
						{{ form_widget(form.nombre, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tu nombre'}})}}
						<span class="text-danger">{{ form_errors(form.nombre) }}</span>
					</div>
					<div class="form-group">
						{{ form_label(form.apellidos) }}
						{{ form_widget(form.apellidos, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tu appelido'}})}}
						<span class="text-danger">{{ form_errors(form.apellidos) }}</span>
					</div>
					<div class="form-group">
						{{ form_label(form.password) }}
						{{ form_widget(form.password, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tu contraseña'}})}}
						<span class="text-danger">{{ form_errors(form.password) }}</span>
					</div>
					<div class="form-group">
						{{ form_label(form.role) }}
						{{ form_widget(form.role, {'attr' : {'class' : 'form-control', 'placeholder' : 'Your role'}})}}
						<span class="text-danger">{{ form_errors(form.role) }}</span>
					</div>
					Selecciona los privilegios que tendrá el personal
					<div class="checkbox">
						<label>
							{{ form_widget(form.crear) }}Crear
							<span class="text-danger">{{ form_errors(form.crear) }}</span>
						</label>
					</div>
					<div class="checkbox">
						<label>
							{{ form_widget(form.borrar) }}Borrar
							<span class="text-danger">{{ form_errors(form.borrar) }}</span>
						</label>
					</div>
					<div class="checkbox">
						<label>
							{{ form_widget(form.editar) }}Editar
							<span class="text-danger">{{ form_errors(form.editar) }}</span>
						</label>
					</div>
					<br>
					<div class="checkbox">
						<label>
							{{ form_widget(form.isActive) }}Activo
							<span class="text-danger">{{ form_errors(form.isActive) }}</span>
						</label>
					</div>
					<p>
						{{ form_widget(form.save, {'label' : 'Crear Personal'}) }}
					</p>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}