{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container well">
		<div class="col-md-9">
			<h2>{{ personal.Nombre|capitalize }} {{ personal.Apellidos|capitalize }}</h2>
			<br>
			<dl>
				<dt>Nombre</dt>
				<dd>
					{{ personal.Nombre|capitalize }}
					&nbsp;
				</dd>
				<br>

				<dt>Apellidos</dt>
				<dd>
					{{ personal.Apellidos|capitalize }}
					&nbsp;
				</dd>
				<br>

				<dt>Correo</dt>
				<dd>
					{{ personal.Correo }}
					&nbsp;
				</dd>
				<br>

				<dt>Telefono</dt>
				<dd>
					{{ personal.Telefono }}
					&nbsp;
				</dd>
				<br>
			</dl>
		</div>
		<div class="col-md-3">
			<h3>Acciones</h3>
			<p>
				<a href="{{ path('weit_clientes_editar', { id: personal.id }) }}" class="btn btn-primary btn-lg btn-block">
					<span class="glyphicon glyphicon-edit"></span>
					Editar
				</a>
			</p>
			<p>
				{{ include('WEITClientesBundle:Clientes:forms/form.html.twig', {form: delete_form, message: '¿Estás seguro?'|trans }) }}
			</p>
		</div>
	</div>

{% endblock %}